<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ivangusev.rmcc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:name=".RMCCApplication"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.UserChooserActivity"
                  android:label="@string/choose_user">
        </activity>
        <activity android:name=".activity.CollageCreatorActivity"
                  android:label="Create Collage">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
